.accordion-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.accordion {
  margin-top: 20px;
  width: 75vw;
  background-color: #363636;
}

.accordion-item {
  margin: 5px;
  background-color: #363636;
  color: white;
}

.accordion-header {
  background-color: #363636;
}

.accordion-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-body {
  display: flex;
  justify-content: center;
}

.accordion-input {
  margin: 0 5px;
}

.accordion-input > input {
  margin: 3px;
}

.accordion-body-container > button {
  transform: skewX(-20deg);
  background: transparent;
  border: 2px solid white;
  color: white;
}

.accordion-body-container > button > div {
  transform: skewX(20deg);
}

.unlock-datacard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  height: 20vmin;
  width: 50vmin;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  color: white;
}
