img {
  display: block;
  height: 300px;
  border-radius: 20px;
}

.hero {
  height: 30vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 5em;
}

@media only screen and (max-width: 1024px) {
  img {
    height: 200px;
  }
}

@media only screen and (max-width: 860px) {
  .title {
    font-size: 3em;
  }
}

@media only screen and (max-width: 470px) {
  .title {
    font-size: 1.8em;
  }
}
