.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(29, 28, 28);
  color: white;
  height: 60px;

  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 35px;
  color: white;
  margin: 10px;
  text-decoration: none;
}

.usercred-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.usercred-container > p {
  margin: 10px;
}

.link-toggle {
  display: default;
}

.menu-toggle {
  display: none;
}

#basic-nav-dropdown {
  color: white;
}

@media only screen and (max-width: 940px) {
  .link-toggle {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  .rmv-on-collapse {
    display: none;
  }
}
