.choose-cat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.datacard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.datacard {
  border: 2px solid white;
  margin: 10px;
  width: 180px;
  height: 200px;
  border-radius: 10px;
}

.datacard-link {
  color: white;
  text-decoration: none;
}

.datacard-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
