.overlay {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40%;
  width: 40vmin;
  text-align: center;
  z-index: 100;
  display: block;
  margin: 10px;
  border-radius: 15px;
}
