.overlay {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;

  width: 40vmin;
  text-align: center;
  z-index: 100;
  display: block;
  margin: 10px;
  border-radius: 15px;
}

.info-overlay {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  top: 0;
  left: 0;

  width: 40vmin;
  text-align: center;
  z-index: 100;
  display: block;
  margin: 80px 10px 10px 10px;

  border-radius: 15px;
}
