@font-face {
  font-family: nasal;
  src: url("./assets/fonts/nasalization-free/nasalization-rg.otf");
}

.full-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #363636;
  font-family: nasal;
}
.button {
  align-items: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  transform: skewX(-20deg);
  background: transparent;
}

.button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(193, 32, 214, 0.5);
}

.button-txt {
  transform: skewX(20deg);
  padding: 0 2vmin;
  text-decoration: none;
  color: white;
  font-family: nasal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: nasal;
}

.XP {
  color: rgb(149, 0, 255);
}
